<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Queue Qs{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="../static/styles.css" />


</head>
<body>
    <nav class="level px-5 py-4">
        <div class="level-left">
            <div class="level-item ">
                <p class="title">Queue Qs</p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a href="https://github.com/glebksenevichh/qqs" target="_blank" class="subtitle">GitHub</a>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}
        <!-- This is where the content of child templates will be inserted -->
        {% endblock %}
    </main>

</body>
</html>

