{% extends "base.html" %}

{% block title %}Button Selection Form{% endblock %}

{% block content %}
    <form method="POST" action="/submit">
        <p>Choose an artist to quiz yourself on:</p>
        {% for artist in top_artists %}
            <input type="radio" name="choice" value="{{ artist.name }}"> {{ artist.name }}<br>
            <img src="{{ artist.img }}" alt="{{ artist.name }}">
        {% endfor %}
        <br>
        <input type="submit" value="Take my quiz">
    </form>
{% endblock %}
