{% extends "base.html" %} {% block title %}Button Selection Form{% endblock %}
{% block content %}
<div class="modal-body row">
  <div class="col-md-6 d-flex flex-column align-items-end px-4 py-4">
    <p>Choose an artist to quiz yourself on:</p>
    {% for artist in top_artists %}
    <a href="/quiz/{{ artist.id }}" class="artist-button">
      <img
        src="{{ artist.image }}"
        alt="{{ artist.name }}"
        class="artist-thumbnail"
      />
      <div>{{ artist.name }}</div>
    </a>
    {% endfor %}
  </div>
  <div class="col-md-6 d-flex flex-column align-items-start px-4 py-4">
    <p>Or enter their spotify link:</p>
    <form method="POST" action="/urlToId">
      <div class="input-group mb-3">
        <input
          type="text"
          id="artist url"
          name="artist_url"
          class="form-control"
          placeholder="Enter the artists spotify url"
          aria-label="Artist Url"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Quiz!</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
